* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Avenir Next";
  src: url(fonts/Avenir\ Next\ Font.ttf);
}

:root {
  --primary-gradient: linear-gradient(
    102.3deg,
    #647b64 -4.62%,
    #66ac66 178.22%
  );
  --linear-gradient: linear-gradient(
    197.92deg,
    #ef8031 -227.37%,
    rgba(239, 128, 49, 0.307045) 1.58%,
    rgba(239, 128, 49, 0) 103.02%
  );
  --header-gradient: linear-gradient(
    164.26deg,
    rgba(239, 128, 49, 0) -335.51%,
    rgba(239, 128, 49, 0.15) -20.24%,
    rgba(239, 128, 49, 0) 119.45%
  );
  --color-white: #fff;
  --color-black: #000;
  --color-text: #333;
  --color-track: #aaa;
  --color-green: #647b64;
  --text-gray: #4f4f4f;
  --heading-color: #f3b562;
  --background-blur-top-left: #f3b562;
  --background-blur-top-right: #d16035;
  --background-blur-bottom-left: #efdcc6;
  --background-blur-bottom-right: #627964;
  --font-family: "Avenir Next";
  --primary-green: #66ac66;
  --footer-background: #f0dcc5;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: var(--color-track);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-green);
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.section-padding {
  padding: 3rem 7.5rem;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
}

.navbar-links_logo img {
  width: 209.75px;
  height: 50px;
  cursor: pointer;
}

.navbar-links_menu {
  display: flex;
  align-items: center;
}

.navbar-links_menu p {
  margin-right: 48px;
  color: var(--color-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.navbar-links_menu button {
  background: var(--primary-gradient);
  color: var(--color-white);
  padding: 0.6rem 0.94rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.hero-section {
  display: flex;
  gap: 9.9rem;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.hero-section_square-1 {
  position: absolute;
  width: 255px;
  height: 257px;
  left: 253px;
  top: 141px;
  background: var(--background-blur-top-left);
  filter: blur(200px);
}

.hero-section_square-2 {
  position: absolute;
  width: 255px;
  height: 257px;
  left: 253px;
  top: 576px;
  background: var(--background-blur-bottom-left);
  filter: blur(200px);
}

.hero-section_square-3 {
  position: absolute;
  width: 255px;
  height: 257px;
  left: 932px;
  top: 141px;
  background: var(--background-blur-top-right);
  z-index: -1;
  filter: blur(200px);
}

.hero-section_square-4 {
  position: absolute;
  width: 255px;
  height: 257px;
  left: 932px;
  top: 576px;
  background: var(--background-blur-bottom-right);
  z-index: -1;
  filter: blur(200px);
}

.ellipse {
  background: var(--linear-gradient);
}

.boxy-container {
  width: 495px;
  height: 375px;
  padding: auto;
  position: relative;
}

.boxy-container_ellipse {
  width: 84px;
  height: 84px;
  border-radius: 100%;
  position: absolute;
  z-index: 11;
  left: 22.57%;
  right: 71.6%;
  top: 6.47%;
  bottom: 91.47%;
}

.boxy-container h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 116%;
  color: var(--color-text);
  margin: 32px 0 24px 0;
}

.boxy-container p {
  color: var(--text-gray);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 132%;
  margin-bottom: 32px;
  letter-spacing: 0.04em;
}

.boxy-container button {
  border: none;
  background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  border-radius: 2px;
  padding: 27px 22px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: absolute;
  bottom: 0;
}

.boxy-container button p {
  color: var(--color-white);
  font-size: 14px;
  margin: auto 4rem auto 0;
  bottom: 0;
}

.boxy-container button img {
  margin: auto 0 auto 4rem;
}

section.about {
  padding: 5rem 0;
}

.about-details {
  display: flex;
  gap: 6rem;
  justify-content: flex-start;
}

.about-details button {
  border: none;
  background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  border-radius: 2px;
  padding: 27px 22px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 40px;
  margin-left: 140px;
}

.about-details button p {
  color: var(--color-white);
  font-size: 14px;
  margin: auto 4rem auto 0;
  bottom: 0;
}

.about-details button img {
  margin: auto 0 auto 4rem;
}

.about-details_topic-header {
  position: relative;
  width: 567px;
  height: 153px;
  background: var(--header-gradient);
}

.about-details_topic-header h4 {
  padding-top: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--heading-color);
}

.about-details_topic-header h2 {
  font-weight: 600;
  font-size: 41px;
  margin-top: 17px;
  line-height: 110%;
  color: var(--color-green);
}

.about-details_topic-header h2,
.about-details_topic-header h4 {
  padding-left: 140px;
  text-transform: uppercase;
}

.about-details_topic-info p {
  padding-left: 140px;
  width: 612px;
  height: 84px;
  margin-top: 40px;
  line-height: 132%;
  letter-spacing: 0.04em;
  color: var(--text-gray);
}

.about-details_grid {
  display: grid;
  grid-template-rows: 9rem 9rem;
  grid-template-columns: 9rem 9rem;
  row-gap: 4rem; /*horizontal gap*/
  column-gap: 7rem; /*vertical gap*/
}

.car-rental,
.boat-cruise,
.bus-trip,
.road-trip {
  width: 221px;
  height: 152px;
  display: flex;
  flex-direction: column;
}

.car-rental div,
.boat-cruise div,
.bus-trip div,
.road-trip div {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
  margin-bottom: 16px;
}

.car-rental h4,
.boat-cruise h4,
.bus-trip h4,
.road-trip h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 116%;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.car-rental p,
.boat-cruise p,
.bus-trip p,
.road-trip p {
  font-weight: 400;
  font-size: 13px;
  line-height: 132%;
  letter-spacing: 0.04em;
}

.contact-us-heading {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.contact-us-heading h4 {
  color: var(--heading-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  text-align: center;
}

.contact-us-heading h2 {
  color: var(--color-green);
  font-style: normal;
  font-weight: 600;
  font-size: 41px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.contact-us-heading_group {
  width: 100%;
  height: 385px;
  display: flex;
  gap: 40px;
  padding-left: 140px;
  position: relative;
}

.contact-us-heading_group-info1,
.contact-us-heading_group-info3 {
  width: 360px;
  height: 338px;
  background: linear-gradient(
      358.27deg,
      rgba(100, 123, 100, 0.77) -118.86%,
      rgba(100, 123, 100, 0) 25.62%,
      rgba(100, 123, 100, 0) 98.53%
    ),
    #ffffff;
  border-radius: 8px;
}

.contact-us-heading_group-info1 img,
.contact-us-heading_group-info2 img,
.contact-us-heading_group-info3 img {
  margin-top: 78px;
  margin-left: 50px;
}

.contact-us-heading_group-info1 h5,
.contact-us-heading_group-info2 h5,
.contact-us-heading_group-info3 h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 116%;
  color: var(--color-text);
  margin-top: 24px;
  margin-left: 50px;
}

.contact-us-heading_group-info2 h5 {
  color: var(--color-white);
}

.contact-us-heading_group-info1 p,
.contact-us-heading_group-info2 p,
.contact-us-heading_group-info3 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 132%;
  letter-spacing: 0.04em;
  margin-top: 6px;
  color: var(--text-gray);
  margin-left: 50px;
}

.contact-us-heading_group-info2 p {
  color: var(--color-white);
}

.contact-us-heading_group-info2 {
  width: 360px;
  height: 338px;
  border-radius: 8px;
  background: var(--primary-gradient);
}

.contact-us-heading_group-bgimg {
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: -1;
  margin-left: 106px;
}

.contact-us-heading_group-bgimg2 {
  position: absolute;
  width: 463px;
  height: 182px;
  right: 0;
  bottom: 0;

  background: linear-gradient(
    197.92deg,
    rgba(239, 128, 49, 0) -227.37%,
    rgba(239, 128, 49, 0.15) 1.58%,
    rgba(239, 128, 49, 0) 103.02%
  );
  border-radius: 8px;
  z-index: -1;
}

.contact-us-heading_group-blur {
  position: absolute;
  width: 255px;
  height: 257px;
  left: 253px;
  bottom: -170px;

  background: #efdcc6;
  z-index: -2;
  filter: blur(200px);
}

.contact-us-heading_group-blur2 {
  position: absolute;
  width: 255px;
  height: 257px;
  right: 253px;
  bottom: -170px;

  background: #627964;
  z-index: -2;
  filter: blur(200px);
}

.business {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.business-img img {
  max-width: 623px;
}

.business-hero h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 17px;
  text-transform: uppercase;
  color: var(--heading-color);
}

.business-hero h2 {
  font-size: 41px;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: var(--primary-green);
}

.business-hero_p {
  font-size: 16px;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: 0.04em;
  color: var(--text-gray);
  margin-bottom: 40px;
}

.business-hero button {
  border: none;
  background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  border-radius: 2px;
  padding: 27px 22px;
  cursor: pointer;
  width: 350px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  bottom: 0;
}

.business-hero button img {
  margin: auto 0 auto 4rem;
}

.business-hero button p {
  color: var(--color-white);
}

.carousel {
  padding: 3rem 0;
}

.carousel_heading-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7.5rem;
}

.carousel-heading h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 17px;
  text-transform: uppercase;
  color: var(--heading-color);
}

.carousel-heading h2 {
  font-weight: 600;
  font-size: 41px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--primary-green);
}

.carousel-button {
  display: flex;
  gap: 1rem;
  width: 27.96;
  height: 30px;
}

.workspace {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7.5rem;
}

.carousel-heading h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 17px;
  text-transform: uppercase;
  color: var(--heading-color);
}

.carousel-heading h2 {
  font-weight: 600;
  font-size: 41px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--primary-green);
}

.carousel-button {
  display: flex;
  gap: 1rem;
  width: 27.96;
  height: 30px;
}

.rollie {
  padding-left: 7.5rem;
  display: flex;
  gap: 40px;
}

.footer {
  background: var(--footer-background);
  padding: 5rem 0;
  display: flex;
  gap: 7.6rem;
  justify-content: center;
  align-items: center;
}

.footer-1 p {
  font-weight: 400;
  width: 249px;
  font-size: 14px;
  line-height: 132%;
  letter-spacing: 0.04em;
  color: var(--text-gray);
  margin-top: 17px;
}

.footer-1 p:nth-child(4) {
  margin-top: 8px;
}

.imgs {
  display: flex;
  gap: 1rem;
  margin-top: 19px;
}

.footer-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-2 h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-feature-settings: "liga" off;
  color: var(--primary-green);
}

.footer-2 a {
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "liga" off;
  color: var(--color-text);
}

.footer-3 h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-feature-settings: "liga" off;
  color: var(--primary-green);
}

.footer-3 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-3 a {
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "liga" off;
  color: var(--color-text);
}

.footer-4 h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  font-feature-settings: "liga" off;
  text-transform: uppercase;
  color: var(--color-green);
  margin-bottom: 13px;
}

.footer-4 textarea {
  resize: none;
  outline: none;
  border: none;
  margin-bottom: 28px;
}

.footer-4 textarea {
  padding: 0.75rem;
}

.footer-4 button {
  width: 267px;
  height: 56px;
  border: none;
  background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  border-radius: 2px;
  padding: 27px 22px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: var(--color-white);
}

.navbar-links_ham {
  display: none;
}

.glider {
  overflow-x: hidden;
}

@media only screen and (max-width: 428px) {
  .navbar-links_logo img {
    max-width: 138.44px;
    max-height: 33px;
  }

  .navbar-links_menu {
    display: none;
  }

  .navbar-links_ham {
    display: flex;
    align-items: center;
  }

  .navbar-links_ham img {
    width: 32px;
  }

  .section-padding {
    padding: 3rem 1.2rem;
  }

  .boxy-container {
    width: 245px;
    height: 192px;
  }

  .boxy-container h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 116%;
    margin-bottom: 12px;
  }

  .boxy-container p {
    font-weight: 400;
    font-size: 10px;
    line-height: 132%;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
  }

  .boxy-container button {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    /* width: 175.51px; */
    height: 36.61px;
    padding: 13px 15px;
    position: relative;
  }

  .boxy-container button p {
    font-weight: 700;
    font-size: 10px;
    line-height: 125.5%;
    letter-spacing: 0.155em;
    margin-right: 0;
  }

  .boxy-container button img {
    margin-left: 0;
  }

  .hero-section {
    gap: 0;
  }

  .hero-section_image img {
    width: 177.97px;
    height: 304px;
  }

  .about-details {
    flex-direction: column;
    gap: 4.5rem;
  }

  .about-details_topic-header {
    width: 400px;
    height: 68px;
  }

  .about-details_topic-header h4 {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    padding-top: 10px;
  }

  .about-details_topic-header h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
    margin-top: 5px;
  }

  .about-details_topic-header h2,
  .about-details_topic-header h4 {
    padding-left: 32px;
  }

  .about-details_topic-info p {
    width: 258px;
    height: 52px;
    padding-left: 32px;
  }

  .about-details button {
    margin-left: 32px;
    margin-top: 110px;
  }

  .about-details_grid {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 9rem 9rem;
    grid-template-columns: 9rem 9rem;
    row-gap: 2rem; /*horizontal gap*/
    column-gap: 4rem; /*vertical gap*/
  }

  .about-details h4 {
    font-weight: 500;
    font-size: 12px;
    line-height: 116%;
  }

  .about-details_grid p {
    width: 113.46px;
    height: 27.35px;
    font-weight: 400;
    font-size: 8px;
    line-height: 132%;
    letter-spacing: 0.04em;
  }

  .contact-us-heading {
    height: 380px;
  }

  .contact-us-heading h4 {
    font-size: 13px;
    line-height: 18px;
  }

  .contact-us-heading h2 {
    font-size: 20px;
    line-height: 110%;
  }

  .contact-us-heading_group {
    padding-left: 32px;
    overflow-x: auto;
    overflow-y: none;
  }

  .contact-us-heading_group-info1,
  .contact-us-heading_group-info2,
  .contact-us-heading_group-info3 {
    width: 222.06px;
    height: 208.49px;
    border-radius: 5px;
  }

  .contact-us-heading_group-info1 img,
  .contact-us-heading_group-info2 img,
  .contact-us-heading_group-info3 img {
    margin-top: 48px;
    margin-left: 31px;
    width: 39.48px;
    height: 39.48px;
  }

  .contact-us-heading_group-info1 h5,
  .contact-us-heading_group-info2 h5,
  .contact-us-heading_group-info3 h5 {
    margin-top: 15px;
    margin-left: 31px;
    font-size: 14.1358px;
    line-height: 116%;
  }

  .contact-us-heading_group-info1 p,
  .contact-us-heading_group-info2 p,
  .contact-us-heading_group-info3 p {
    width: 160.38px;
    margin-top: 4px;
    margin-left: 31px;
    font-size: 11.3087px;
    line-height: 132%;
    letter-spacing: 0.04em;
  }

  .contact-us-heading_group-bgimg {
    width: 149px;
    height: 149px;
    margin-left: 8px;
    top: 90px;
  }

  .contact-us-heading_group-blur,
  .contact-us-heading_group-blur2,
  .contact-us-heading_group-bgimg2 {
    display: none;
  }

  .business-img {
    position: absolute;
    left: -253px;
  }

  .business-img img {
    width: 316.74px;
    height: 307.59px;
    /* bottom: 50px; */
  }

  .business-hero {
    margin-left: 100px;
  }

  .business-hero h4 {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 8px;
  }

  .business-hero h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 110%;
  }

  .business-hero p {
    font-size: 10px;
    line-height: 132%;
    letter-spacing: 0.04em;
  }

  .business-hero button {
    width: 195.26px;
    height: 40.73px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button_p {
    font-weight: 700;
    font-size: 10px;
  }

  .business-hero_button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
  }

  .business-hero button img {
    margin: auto 0 auto 3.4rem;
  }

  .carousel-button {
    /* display: none; */
  }

  .workspace {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.8rem;
  }

  .carousel-heading h4 {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 7.6px;
  }

  .carousel-heading h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 110%;
  }

  .rollie {
    padding-left: 2.8rem;
  }
}
