* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Avenir Next";
  src: url(fonts/Avenir\ Next\ Font.ttf);
}

:root {
  --primary-gradient: linear-gradient(
    102.3deg,
    #647b64 -4.62%,
    #66ac66 178.22%
  );
  --linear-gradient: linear-gradient(
    197.92deg,
    #ef8031 -227.37%,
    rgba(239, 128, 49, 0.307045) 1.58%,
    rgba(239, 128, 49, 0) 103.02%
  );
  --header-gradient: linear-gradient(
    164.26deg,
    rgba(239, 128, 49, 0) -335.51%,
    rgba(239, 128, 49, 0.15) -20.24%,
    rgba(239, 128, 49, 0) 119.45%
  );
  --color-white: #fff;
  --color-black: #000;
  --color-text: #333;
  --color-track: #aaa;
  --color-green: #647b64;
  --text-gray: #4f4f4f;
  --heading-color: #f3b562;
  --background-blur-top-left: #f3b562;
  --background-blur-top-right: #d16035;
  --background-blur-bottom-left: #efdcc6;
  --background-blur-bottom-right: #627964;
  --font-family: "Avenir Next";
  --primary-green: #66ac66;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: var(--color-track);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-green);
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.section-padding {
  padding: 3rem 7.5rem;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
}

.navbar-links_logo img {
  width: 209.75px;
  height: 50px;
  cursor: pointer;
}

.navbar-links_menu {
  display: flex;
  align-items: center;
}

.navbar-links_menu p {
  margin-right: 48px;
  color: var(--color-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.navbar-links_menu button {
  background: var(--primary-gradient);
  color: var(--color-white);
  padding: 0.6rem 0.94rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.hero-section {
  display: flex;
  gap: 9.9rem;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.hero-section_square-1 {
  position: absolute;
  width: 255px;
  height: 257px;
  left: 253px;
  top: 141px;
  background: var(--background-blur-top-left);
  filter: blur(200px);
}

.hero-section_square-2 {
  position: absolute;
  width: 255px;
  height: 257px;
  left: 253px;
  top: 576px;
  background: var(--background-blur-bottom-left);
  filter: blur(200px);
}

.hero-section_square-3 {
  position: absolute;
  width: 255px;
  height: 257px;
  left: 932px;
  top: 141px;

  background: var(--background-blur-top-right);
  filter: blur(200px);
}

.hero-section_square-4 {
  position: absolute;
  width: 255px;
  height: 257px;
  left: 932px;
  top: 576px;
  background: var(--background-blur-bottom-right);
  filter: blur(200px);
}

.ellipse {
  background: var(--linear-gradient);
}

.boxy-container {
  width: 495px;
  height: 375px;
  padding: auto;
  position: relative;
}

.boxy-container_ellipse {
  width: 84px;
  height: 84px;
  border-radius: 100%;
  position: absolute;
  z-index: 11;

  left: 22.57%;
  right: 71.6%;
  top: 6.47%;
  bottom: 91.47%;
}

.boxy-container h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 116%;
  color: var(--color-text);
  margin: 32px 0 24px 0;
}

.boxy-container p {
  color: var(--text-gray);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 132%;
  margin-bottom: 32px;
  letter-spacing: 0.04em;
}

.boxy-container button {
  border: none;
  background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  border-radius: 2px;
  padding: 27px 22px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: absolute;
  bottom: 0;
}

.boxy-container button p {
  color: var(--color-white);
  font-size: 14px;
  margin: auto 4rem auto 0;
  bottom: 0;
}

.boxy-container button img {
  margin: auto 0 auto 4rem;
}

section.about {
  padding: 5rem 0;
}

.about-details {
  display: flex;
  gap: 6rem;
  justify-content: flex-start;
}

.about-details button {
  border: none;
  background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  border-radius: 2px;
  padding: 27px 22px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 40px;
  margin-left: 140px;
}

.about-details button p {
  color: var(--color-white);
  font-size: 14px;
  margin: auto 4rem auto 0;
  bottom: 0;
}

.about-details button img {
  margin: auto 0 auto 4rem;
}

.about-details_topic-header {
  position: relative;
  width: 567px;
  height: 153px;
  background: var(--header-gradient);
}

.about-details_topic-header h4 {
  padding-top: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: var(--heading-color);
}

.about-details_topic-header h2 {
  font-weight: 500;
  font-size: 41px;
  margin-top: 17px;
  line-height: 110%;
  color: var(--color-green);
}

.about-details_topic-header h2,
.about-details_topic-header h4 {
  padding-left: 140px;
  text-transform: uppercase;
}

.about-details_topic-info p {
  padding-left: 140px;
  margin-top: 40px;
  line-height: 132%;
  letter-spacing: 0.04em;
  color: var(--text-gray);
}

.about-details_grid {
  display: grid;
  grid-template-rows: 9rem 9rem;
  grid-template-columns: 9rem 9rem;
  grid-gap: 4rem;
}

.car-rental,
.boat-cruise,
.bus-trip,
.road-trip {
  width: 221px;
  height: 152px;

  display: flex;
  flex-direction: column;
}

.car-rental div,
.boat-cruise div,
.bus-trip div,
.road-trip div {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
  margin-bottom: 16px;
}

.car-rental h4,
.boat-cruise h4,
.bus-trip h4,
.road-trip h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 116%;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.car-rental p,
.boat-cruise p,
.bus-trip p,
.road-trip p {
  font-weight: 400;
  font-size: 13px;
  line-height: 132%;
  letter-spacing: 0.04em;
}
